input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

:root {
  font-family: "Fira Sans", sans-serif;
}

button:disabled {
  cursor: wait !important;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.date-picker {
  .react-date-picker__wrapper,
  .react-daterange-picker__wrapper {
    border: none !important;
  }
  .react-date-picker__calendar-button,
  .react-daterange-picker__calendar-button {
    padding: 0 !important;
  }
  .react-date-picker__inputGroup__input,
  .react-daterange-picker__inputGroup__input {
    outline: none !important;
  }
}

* {
  transition: all 0.2s ease-in-out;
}

.scrollbar-hidden {
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  
  thead {
    position: relative;
    th {
      position: sticky;
      top: 0;
      border-right: 1px solid var(--color-border-2);
      z-index: 10;
    }
  }
}

.number-appearance-none {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}