input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

:root {
  font-family: "Fira Sans", sans-serif;
}

button:disabled {
  cursor: wait !important;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.date-picker {
  .react-date-picker__wrapper {
    border: none !important;
  }
  .react-date-picker__calendar-button {
    padding: 0 !important;
  }
  .react-date-picker__inputGroup__input {
    outline: none !important;
  }
}

* {
  transition: all 0.2s ease-in-out;
}

.scrollbar-hidden {
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
