@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-clr: #066db7;
  --table-header-bg: #f3faff;
  --table-header-text: black;
  --dark-background: #1e1e2d;
  --dark-selected: #ffbe07;
  --dark-text-color: grey;
  --border-radius: 5px;
}

@layer components {
  .table-header {
    background-color: var(--table-header-bg);
    color: var(--table-header-text);
  }
}
