.theme-light {
  --color-sidebar: #ffffff;
  --color-sidebar-heading: #1575b2;
  --color-header: #1575b2;

  --color-button: #1575b2;

  --color-button-border-1: #bbf7d0;
  --color-button-border-2: #93c5fd;
  --color-button-border-active: #079454;
  --color-button-border-inactive: #e70000;

  --color-button-text: #ffffff;
  --color-button-text-2: #020203;
  --color-button-text-3: #d31510;
  --color-button-text-4: #21448f;
  --color-button-active: #0794543d;
  --color-button-inactive: #ff000032;

  --color-icon-1: white;
  --color-icon-2: #1575b2;
  --color-icon-success: #22c55e;
  --color-icon-error: #ff0000;

  --color-bg-1: #eeeeee;
  --color-bg-2: #ffffff;
  --color-bg-3: #f7f3ea;
  --color-bg-4: #f6f6f6;
  --color-bg-warning: #e5e848;

  --color-hover: #1575b2;

  --color-modal-backdrop-bg: black;

  --color-bg-toggle-1: #ffffff;
  --color-bg-toggle-2: #f6f7f8;

  --color-text-1: #2d2b2b;
  --color-text-2: #636363;
  --color-text-3: #ffffff;
  --color-text-4: #1d1d1d;
  --color-text-5: #006aac;
  --color-text-active-2: #135052;
  --color-text-success: #008252;
  --color-text-success-2: #006f299d;

  --color-text-h1: #282828;
  --color-text-sub-h1: #66696d;
  --color-text-active: #ffffff;

  --color-text-error: red;

  --color-link: #0265dc;

  --color-toggle-button: #1575b2;
  --color-toggle-border: #1575b2;
  --color-toggle-bg: #ffffff;
  --color-toggle-button-active: #ffffff;
  --color-toggle-border-active: #000000;
  --color-toggle-bg-active: #1575b2;

  --color-radio-border: #1575b2;
  --color-radio-dot: #1575b2;

  color: #282828 !important;

  --color-border-input: #b6b6b6;
  --color-border-1: #c1c1c1;
  --color-border-2: #dfdfdf;
  --color-border-3: #135052;
  --color-border-active: #bb6830;
  --color-border-success: #007a4d;

  .button-1 {
    background-color: var(--color-button);
    font-weight: 500;
    color: var(--color-button-text);

    &.button-inactive {
      border: 1px solid var(--color-button-border-inactive);
      background-color: var(--color-button-inactive);
      color: var(--color-button-border-inactive);
    }

    &.button-active {
      border: 1px solid var(--color-button-border-active);
      background-color: var(--color-button-active);
      color: var(--color-button-border-active);
    }

    &.button-2 {
      background-color: transparent !important;
      color: var(--color-button-text-1);
      border: 1px solid var(--color-button-border-3);
    }

    &.button-3 {
      border: 1px solid var(--color-button);
      background-color: transparent !important;
      color: var(--color-button);
    }

    &.button-4 {
      border: 1px solid var(--color-border-active);
      background-color: transparent !important;
      color: var(--color-text-active);
    }
  }

  table {
    width: 100%;
    border: 1px solid var(--color-border-2);
    border-radius: 8px;
    color: var(--color-text-4);
    font-weight: 500;

    tbody {
      tr:hover {
        background-color: var(--color-bg-4);
      }
    }

    thead {
      th {
        background-color: var(--color-bg-4);
        text-align: left;
        padding: 10px 15px;
        text-wrap: nowrap;
        /* border-right: 1px solid var(--color-border-2); */
        /* border-bottom: 1px solid var(--color-border-2); */
        font-weight: 500;
        z-index: 1;
      }
    }
    tbody {
      tr {
        border-top: 1px solid var(--color-bg-4);

        td {
          padding: 15px;
          border-top: 1px solid #e0e0e0;
        }
      }
    }

    &.table-2 {
      tbody {
        td {
          border-right: 1px solid #e0e0e0;
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}
