.theme-light {
  --color-sidebar: #f6f7f8;
  --color-header: #e2e8f0;

  --color-button: #135052;
  --color-button-2: #f0fdf4;
  --color-button-3: #e0f2ff;
  --color-button-4: #fee2e2;
  --color-button-5: #dbeafe;

  --color-button-border-1: #bbf7d0;
  --color-button-border-2: #93c5fd;

  --color-button-text: #ffffff;
  --color-button-text-2: #020203;
  --color-button-text-3: #d31510;
  --color-button-text-4: #2563eb;

  --color-icon-1: white;
  --color-icon-2: black;
  --color-icon-3: white;

  --color-bg-1: #f6f7f8;
  --color-bg-2: #ffffff;
  --color-bg-3: #0000001f;
  --color-bg-4: #3f3f3f;
  --color-bg-5: #54545480;

  --color-bg-toggle-1: #a9d2d2;
  --color-bg-toggle-2: #f6f7f8;

  --color-text: #135052;
  --color-text-1: white;
  --color-text-2: #414346;
  --color-text-3: #d31510;
  --color-text-4: #6b7280;
  --color-text-active: #f05032;
  --color-text-active-2: #135052;
  --color-text-success: #007a4d;
  --color-text-success-2: #22c55e;

  --color-text-h1: #135052;
  --color-text-sub-h1: #66696d;
  --color-text-active: #f05032;

  --color-link: #0265dc;

  --color-border-input: #d5d5d5;
  --color-border-1: #d5d5d5;
  --color-border-2: #66696d;
  --color-border-3: #135052;
  --color-border-active: #f05032;
  --color-border-success: #007a4d;

  button {
    cursor: pointer;
    background-color: var(--color-button);
    color: var(--color-button-text);

    font-weight: bold;

    &.button-2 {
      background-color: var(--color-bg-3);
      color: var(--color-button-text-2);
    }
    &.button-3 {
      border: 1px solid var(--color-button);
      background-color: transparent !important;
      color: var(--color-button);
    }
  }

  .dashboard-sytem-status {
    --color-bg-1: #f0fdf4;
    --color-bg-2: #fefce8;
    --color-bg-3: #fefce8;
    --color-bg-4: #fef2f2;
    --color-bg-5: #f0fdf4;

    --color-border-1: #4ade80;
    --color-border-2: #facc15;
    --color-border-3: #facc15;
    --color-border-4: #ef4444;
    --color-border-5: #4ade80;
  }

  table {
    width: 100%;
    border: 1px solid var(--color-border-1);
    border-radius: 8px;

    thead {
      background-color: var(--color-bg-1);
      th {
        text-align: left;
        padding: 15px;
        border-right: 1px solid #e0e0e080;
        border-bottom: 1px solid #e0e0e080;
      }
    }
    tbody {
      tr {
        border-top: 1px solid var(--color-bg-4);

        td {
          padding: 15px;
          border-top: 1px solid #e0e0e0;
        }
      }
    }

    &.table-2 {
      tbody {
        td {
          border-right: 1px solid #e0e0e0;
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}
